/* comentario */

div {
    text-align: center;

}

.month {
    display: inline-block;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
}

.day-name {
    background: #eee;
    font-weight: bold;
    font-size: 15px;
}

ol li:not(.day-name){
    font-size: 15px; 
}
.first-day-Gener {
    grid-column-start: 1;
}

.first-day-Febrer {
    grid-column-start: 4;
}

.first-day-Març {
    grid-column-start: 5;
}

.first-day-Abril {
    grid-column-start: 1;
}

.first-day-Maig {
    grid-column-start: 3;
}

.first-day-Juny {
    grid-column-start: 6;
}

.first-day-Juliol {
    grid-column-start: 1;
}

.first-day-Agost {
    grid-column-start: 4;
}

.first-day-Setembre {
    grid-column-start: 7;
}

.first-day-Octubre {
    grid-column-start: 2;
}

.first-day-Novembre {
    grid-column-start: 5;
}

.first-day-Desembre {
    grid-column-start: 7;
}

